body {
  margin: 0px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #012B34;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, ol, p {
  margin: 0;
  padding: 0;
}

li {
  list-style-position: inside;
}

.container {
  max-width: 1920px;
  padding: 100px 0 221px;
  margin: 0 160px;
  overflow: hidden;
}

.title {
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: -0.02em;
  margin-bottom: 80px;
}

.list {
  font-size: 36px;
  line-height: 43.2px;
}

.list-item {
  position: relative;
  padding: 30px 30px 30px 0;
  cursor: pointer;
  border-bottom: 1px solid #E6E6E6;
}

.list-item:after {
  position: absolute;
  right: 0;
  top: 35px;
  width: 20px;
  height: 20px;
  content: '';
  background:
    linear-gradient(#02818A,#02818A),
    linear-gradient(#02818A,#02818A);
  background-position: center;
  background-size: 100% 2px, 2px 100%;
  background-repeat: no-repeat;
}

.list-item:first-child {
  border-top: 1px solid #E6E6E6;
}

.list-item:hover {
  color: #02818A;
  transition: color 0.3s linear;
}

.list-item.active {
  color: #02818A;
}

.list-item.active:before,
.list-item.active:after {
  content: "";
  position: absolute;
  right: 0;
  top: 42px;
  width: 22px;
  height: 2px;
  background: #02818A;
}

.list-item.active:before {
  transform: rotate(45deg);
}

.list-item.active:after {
  transform: rotate(-45deg);
}

.list-item__spoiler {
  display: none;
  margin: 30px 0 10px 0;
  max-width: 942px;
  font-size: 20px;
  line-height: 30px;
  color: #012B34;
  cursor: initial;
}


@media (max-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 80px 0 240px;
    margin: 0 120px;
  }

  .title {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 60px;
  }

  .list {
    font-size: 27px;
    line-height: 32.4px;
  }

  .list-item {
    padding: 24px 20px 20px 0;
  }

  .list-item:after {
    width: 14.16px;
    height: 14.13px;
    top: 33px;
  }

  .list-item__spoiler {
    max-width: 840px;
    margin-top: 20px;
    font-size: 15px;
    line-height: 22.5px;
  }

  .list-item.active:before,
  .list-item.active:after {
    width: 16px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 70px 0 145px;
    margin: 0 107px;
  }

  .title {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 56px;
  }

  .list {
    font-size: 24px;
    line-height: 38.8px;
  }

  .list-item {
    padding: 20px 20px 20px 0;
  }

  .list-item:after {
    top: 28px;
  }

  .list-item__spoiler {
    max-width: 640px;
    margin: 4px 0;
    font-size: 14px;
    line-height: 21px;
  }

  .list-item.active:before,
  .list-item.active:after {
    width: 16px;
    top: 35px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768;
    padding: 60px 0 327px;
    margin: 0 40px;
  }

  .title {
    margin-bottom: 50px;
  }

  .list {
    font-size: 27px;
    line-height: 32.4px;
  }

  .list-item {
    padding: 24px 24px 24px 0;
  }

  .list-item__spoiler {
    max-width: 612px;
    font-size: 15px;
    line-height: 22.5px;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 375px;
    padding: 50px 0 12px;
    margin: 0 24px;
  }

  .title {
    font-size: 30px;
    line-height: 30px;
    max-width: 190px;
    margin-bottom: 40px;
  }

  .list {
    font-size: 24px;
    line-height: 28.8px;
  }

  .list-item {
    padding: 20px 20px 20px 0;
  }

  .list-item__spoiler {
    max-width: 327px;
    margin: 16px 0 0 0;
    font-size: 14px;
    line-height: 21px;
  }
}
